*,::after,::before{box-sizing:border-box}body{margin:0px;padding:0px}a{color:unset;text-decoration:none}h1,h2,h3,h4,h5,h5,ul,ol,p{padding:0px;margin:0px}body{font-family:"Open Sans",sans-serif}.container{max-width:1100px;margin:0 auto}
