.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 53px 0 40px 0;
  margin: 0 auto;
  max-width: 1920px;

  & img {
    width: 403px;
    height: 403px;
    margin: 0 0 40px 0;
    cursor: pointer;
  }
}
