.single-post {
  background: $color-alabaster;
  padding: 35px 0 71px 0;

  &-wrapper {
    text-align: center;
  }

  &-text {
    padding: 34px 0 0 0;
    display: flex;
    flex-direction: row;

    @include media('<lg') {
      flex-direction: column;
      align-items: center;
    }

    & img {
      padding: 0 39px 39px 0;
      
      @include media('<lg') {
        width: 300px;
        height: 250px;
        padding: 0 0 39px 0;
      }
    }
  }

  &-second-text {
    margin: 0 0 40px 0;
  }

  & h3 {
    @include media('>lg') {
      text-align: left;
    }
  }

  & article p {
    padding: 0 0 15px 0 ;
    
    @include media('>lg') {
      text-align: left;
    }
  }

  &-button {
    border: 3px solid $color-cutty-shark;
    padding: 10px 25px 10px 25px;
    color: $color-cutty-shark; 
    transition: 0.2s;

    &:hover {
      background: $color-cutty-shark;
      color: $color-white;
      border: 3px solid $color-white;
    }
  }
}
