body {
  font-family: $font_open_sans;
  position: relative;
}

.body-toggle-scroll {
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;

  @include media('<lg') {
    margin: 0 15px 0 15px;
  }
}
