h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.5px;

  @include media('<lg') {
    font-size: 40px;
  }
}

h2 {
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 55px;

  @include media('<lg') {
    font-size: 40px;
  }
}

h3 {
  font-size: 50px;
  letter-spacing: 0.58px;
  color: $color-cutty-shark;

  @include media('<lg') {
    font-size: 45px;
  }
}

p {
  line-height: 28px;
}

button {
  outline: none;
}
