.header-navigation {
  $navigation: &;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 4;

  @include media('<lg') {
    flex-direction: column;
    display: none;
    position: absolute;
    height: 100vh;
    background: $color-nevada;
    padding: 30px;
  }
  
  & li {
    position: relative;
    font-size: 25px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin: 0 0px 0px 77px;

    @include media('<lg') {
      min-width: 170px;
      margin: 0;
      background: $color-cutty-shark;
    }

    & a {
      margin: 0 0px 5px 0px;
      display: block;
    }

    &:hover {
      #{$navigation}-dropdown {
        transition: 0.5s;
        visibility: unset;
        min-width: 170px;
        height: auto;
        padding: 20px;
        left: -30px;
        background: $color-alto;
        position: absolute;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
        border-radius: 7px;

        @include media('<lg') {
          display: block;
          position: unset;
          width: 100%;
          box-shadow: unset;
          background: unset;
          padding: unset;
        }
      }

      #{$navigation}-dropdown li:hover {
        transition: 0.4s;
        border-bottom: 1px solid $color-black;

        @include media('<lg') {
          border-bottom: none;
        }
      }
    }
  }
  
  &-dropdown {
    height: 0px;
    width: 0px;
    visibility: hidden;

    @include media('<lg') {
      height: auto;
      width: auto;
      display: none
    }

    & li {
      text-align: center;
      margin: 0 0 5px 0;
      border-bottom: 1px solid transparent;
      
      @include media('<lg') {
        background: $color-white;
        border-bottom: unset;
      }
      
      & a {
        margin: 0;  
      }
    }
  }

  &-active {
    display: block;
    top: 0;
    right: 0;
  }
}
