.hero {
  background: url('../assets/bgd-hero.jpg')no-repeat center;
  background-size: cover;
  width: 100%;
  color: $color-white;

  &-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 760px;
  }

  &-text {
    padding: 0 0 160px 0;
    min-width: 495px;
    
    &-under {
      margin: 14px 0 0 0;
      display: flex;
      flex-direction: row;

      & p {
        font-size: 21px;
        margin: 5px 45px 0 0;
      }

      & button {
        padding: 5px 30px 6px 30px;
        text-transform: uppercase;
        border: 3px solid $color-white;
        font-size: 24px;
        color: $color-white;
        font-weight: bold;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.2s all;

        &:hover {
          background: $color-cutty-shark;
          border: 3px solid $color-cutty-shark;
          color: $color-black;
        }
      }
    }
  }
}
