.hamburger {
  $hamburger: &;
  display: none;
  position: absolute;
  top: 65px;
  right: 20px;
  width: 50px;
  height: 30px;
  z-index: 2;

  @include media('<lg') {
    display: block;
  }

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 48px;
    height: 5px;
    background: $color-black;
  }

  &::after {
    content: '';
    top: 0px;
  }

  &::before {
    content: '';
    bottom: 0;
  }

  &-line {
    width: 48px;
    height: 5px;
    background: $color-black;
    display: block;
  }

  &-active {
    top: 20px;
    right: 210px;

    #{$hamburger}-line {
      display: none;
    }

    &::after {
      transform: rotate(-50deg);
      top: 13px
    }

    &::before {
      transform: rotate(50deg);
      bottom: 13px;
    }
  }
}
